# Virtual Environment
venv/
**/venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/

# Large model files and binaries
VOSK/vosk-model-fr-0.22/
Faster\ Whisper\ Base/ffmpeg-7.1.1-essentials_build/
Whisper\ Base/ffmpeg-7.1.1-essentials_build/
